@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Mina');

* {
    margin: 0px;
    padding: 0;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
}

.centerp {
    text-align: center;
}

/* Footer */
.foot {
    background-color: rgba(0, 0, 0, 0.2);
    height: 80px;
    width: 100%;
}

.foot ul {
    list-style: none;
    color: #eceeef;
}

.foot ul li {
    display: inline-block;
    padding: 30px 15px 30px 15px;
    cursor: pointer;
}

.foot ul a {
    text-decoration: none;
    color: #eceeef;
}

.foot p {
    padding: 30px;
    color: #eceeef;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* Nav Bar */
#dropdown {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 80px;
    position: absolute;
    z-index: 5;
    top: 0px;
}

#dropdown ul{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

#dropdown ul li {
    display: inline-block;
    text-align: center;
    padding: 23px 0px 23.55px 0px;
    width: 95px;
    font-family: 'Mina', sans-serif;
}

#dropdown a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 20px;
}

#dropdown a:hover {
    animation-name: navfade;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdowncont {
    display: block;
}

.dropdowncont {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 90px;
    z-index: 4;
}

.c {
    padding-right: 10px;
}

.center {
    margin: auto;
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 5;
}

.nav-flex {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.svg-content {
    display: inline;
	position: relative;
	top: 0;
	left: 0;
    width: 90px;
    height: 70px;
    z-index: 6;
    cursor: pointer;
}

.cd {
    stroke: #246d9f;
    stroke-width: 5px;
    fill: none;
}

.dunno {
    stroke: #246d9f;
    stroke-width: 1.5px;
    fill: none;
}

/* Home Page */
#home .home {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/home.jpg) top no-repeat;
}

#home .back, #home .next {
    position: absolute;
    top: 50%;
    padding: 10px;
    color: #eceeef;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
}

#home .next {
    right: 0;
}

#home .b {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: 2.4%;
    height: 100vh;
    z-index: 1;
}

.b:hover, 
.n:hover {
    animation-name: fade2;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#home .n {
    position: absolute;
    top: 0px;
    right: 0;
    width: 2.4%;
    height: 100vh;
    z-index: 1;
}

#home .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#home #q1 {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    text-align: left;
}

#home #q1 p,
#home #q2 p,
#home #q3 p{
    position: relative;
    font-size: 40px;
    color: #eceeef;
    font-weight: bold;
    text-shadow: 4px 4px 10px black;
    font-family: 'Mina', sans-serif;
}

#home #q1 .by,
#home #q2 .by,
#home #q3 .by{
    font-weight: 100;
    font-size: 35px;
    width: 40%;
}
    

#home #q2 {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    left: -100%;
    text-align: left;
}

#home #q3 {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    left: -100%;
    text-align: left;
}

.divimg {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

/* About Me */
.flex-containermain {
    display: flex;
    flex-wrap: wrap;
}

.flex-containermain div {
    width: 35.5%;
    padding: 0px 30px 0px 0px;
}

.flex-containermain div.cam {
    width: 300px;
    padding: 0px 0px 0px 0px;
}

.flex-containermain div.cam img {
    width: 300px;
    height: 350px;
    margin-top: 70px;
}

.flex-containermain div p {
    font-size: 20px;
    font-family: 'Mina', sans-serif;
}

.aboutme {
    margin: 50px auto auto auto ;
}

#aboutme {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(img/aboutme.jpg) top no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

main {
    position: relative;
    z-index: 2;
}

.anglecont {
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 35%;
}

.anglecont2 {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 75%;
}

.anglecont3 {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 55%;
}

.angle {
    background-color: #eceeef;
    transform: rotate(-10deg);
    height: 600px;
    width: 130vw;
    position: relative;
    left: -10%;
    top: 20%;
    box-shadow: 0px -2px 50px black;
}

.angle3 {
    background-color: #eceeef;
    transform: rotate(-10deg);
    height: 400px;
    width: 130vw;
    position: relative;
    left: -10%;
    top: 20%;
}

.angle2 {
    background-color: #eceeef;
    transform: rotate(-10deg);
    height: 400px;
    width: 130vw;
    position: relative;
    left: -10%;
    top: 20%;
    box-shadow: 0px 2px 50px black;
}

.divimg2 {
    overflow: hidden;
    height: 60vh;
}

.ab {
    font-size: 50px;
    text-align: center;
    color: #246d9f;
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-size: 35px;
    text-align: center;
    color: black;
    font-family: 'Amatic SC', cursive;
}

/* Resume */
#resume {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(img/aboutme.jpg) top no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Contact */
#contact h3 {
    font-size: 40px;
    text-align: center;
    color: #246d9f;
    font-family: 'Amatic SC', cursive;
}

#contact main {
    position: relative;
    z-index: 2;
}

#contact h2 {
    font-size: 35px;
    text-align: center;
    color: black;
    font-family: 'Amatic SC', cursive;
}

#contact .ab {
    font-size: 50px;
    text-align: center;
    color: #246d9f;
    font-family: 'Amatic SC', cursive;
}

#contact {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(img/contact.jpg) top no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.flexc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flexc div p {
    font-size: 20px;
    font-family: 'Mina', sans-serif;
}

.flexc div {
    margin: auto auto 50px auto;
}

.flexc div form {
    margin: 50px auto auto auto;
}

.flexc div form textarea {
    max-height: 200px;
    min-height: 200px;
    max-width: 600px;
    min-width: 600px;
}

/* Home Page Loading */
.flexcont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

.svg-content2 {
    width: 380px;
    height: 300px;
}

.dunno2 {
    stroke: #eceeef;
    stroke-width: 4px;
    fill: none;
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation-name: loop;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.cd2 {
    stroke: #eceeef;
    stroke-width: 30px;
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    fill: none;
    animation-name: load;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#overlay {
    display: block;
    position: fixed;
    z-index: 5;
    cursor: wait;
    background-color: rgba(0, 0, 0, .7);
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.help {
    position: absolute;
    bottom: 0px;
    z-index: 6;
    font-size: 20px;
    font-family: 'Overpass Mono', monospace;
    color: white;
}

/* Animations */
@keyframes load {
    0% {
        stroke-dashoffset: 600px;
    }
    50% {
        stroke-dashoffset: 0px;
    }
}

@keyframes loop {
    0% {
        stroke-dashoffset: 600px;
    }
    50% {
        stroke-dashoffset: 0px;
    }
}

@keyframes fade {
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes fade2 {
    to {
        background-color: rgba(255, 255, 255, 0.172);
    }
}

@keyframes navfade {
    to {
        color: black;
        background-color: #eceeef;
    }
}